@page
@using Microsoft.AspNetCore.Mvc.Localization
@using QLHS.Localization
@model QLHS.Web.Pages.Students.Index
@inject IHtmlLocalizer<QLHSResource> L

@section scripts
{
    <abp-script src="/Pages/Students/Index.js"/>
}


<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Student:pageStudent"].Value</abp-card-title>
            </abp-column>

            <abp-column size-md="_6" class="text-right">
                <abp-button id="NewStudentButton"
                            text='@L["Student:AddStudent"].Value'
                            icon="plus"
                            button-type="Primary"/>
                <div class="dataTable_filters row">
                    <div id="StudentsTable_filter" class="dataTables_filter">
                        <input style="width:50%; margin-left: auto"id="NameSearch"
                               type="search" class="form-control form-control-sm" placeholder="Tìm kiếm" aria-controls="StudentsTable">
                    </div>
                </div>
            </abp-column>

        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="StudentsTable"></abp-table>
    </abp-card-body>
</abp-card>