@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model QLHS.Web.Pages.Teachers.CreateModal

@{
    Layout = null;
}
<form method="post" id="CreateTeacherModal" asp-page="/Teachers/CreateModal">
    <abp-modal>
        <abp-modal-header title="New Teacher"></abp-modal-header>
        <abp-modal-body>
            <abp-tabs name="create-Teacher-modal-tabs">
                <abp-tab title="Teacher Information" class="mt-3">
                    <div id="Teacher-information-wrapper" class="mt-3">
                        <abp-input asp-for="Teacher.Name" label="Teacher Name"/>
                        <abp-input asp-for="Teacher.BirthDate" type="date" label="Birth Date"/>
                        <abp-input asp-for="Teacher.Address" label="address" type="string"/>
                        <abp-input asp-for="Teacher.PhoneNumber" label="phoneNumber" type="string"/>
                    </div>
                </abp-tab>
            </abp-tabs>
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>


